In [266]:
import pandas as pd
from functools import reduce
import xlsxwriter
import pprint

In [44]:
#read the file
#Navigate to the right working dir
import os
os.getcwd()
folder = '/Users/anshulsaxena/MicroSave/cohort 3/contingency plan/Data Sources/wip'
os.chdir(folder)
file_name = 'World Bank data 7 July MSC R4 countries.xlsx'
path = folder+'/'+file_name
read_all_sheets = pd.read_excel(path, sheet_name=None)
raw_fin_data = pd.read_excel(path, sheet_name=None)
read_sheet = input("enter the sheet to be read from the workbook")
raw_fin_data = read_all_sheets[read_sheet]
raw_fin_data.head()

enter the sheet to be read from the workbook Data

,Country Name,Country Code,Series Name,Series Code,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Bangladesh,BGD,"Population, total",SP.POP.TOTL,156256276,157970840,159670593,161356039,163046161
1,Bangladesh,BGD,Population growth (annual %),SP.POP.GROW,1.11728,1.0913,1.07024,1.05004,1.042
2,Bangladesh,BGD,Income share held by lowest 20%,SI.DST.FRST.20,..,8.6,..,..,..
3,Bangladesh,BGD,GDP (current US$),NY.GDP.MKTP.CD,1.95079e+11,2.21415e+11,2.49711e+11,2.74039e+11,3.02571e+11
4,Bangladesh,BGD,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.55264,7.1135,7.28418,7.86371,8.15268

In [70]:
selected_cols = ['Country Name', 'Series Code', 'Series Name']
unselected_cols = ['Country Code']

In [72]:
fin_data_long_format = pd.melt(raw_fin_data.drop(columns=unselected_cols)\
                               , id_vars=selected_cols, var_name= 'year'\
                               , value_name = 'value')
                                
#rename columns
fin_data_long_format.rename(columns={
    "Country Name" : "country",
    "Series Name" : "indicator", "Series Code" : "code"
}, inplace=True)   

fin_data_long_format.head()

,country,code,indicator,year,value
0,Bangladesh,SP.POP.TOTL,"Population, total",2015 [YR2015],156256276
1,Bangladesh,SP.POP.GROW,Population growth (annual %),2015 [YR2015],1.11728
2,Bangladesh,SI.DST.FRST.20,Income share held by lowest 20%,2015 [YR2015],..
3,Bangladesh,NY.GDP.MKTP.CD,GDP (current US$),2015 [YR2015],1.95079e+11
4,Bangladesh,NY.GDP.MKTP.KD.ZG,GDP growth (annual %),2015 [YR2015],6.55264

In [73]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(file_name, engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
fin_data_long_format.to_excel(writer, sheet_name='long format', index=False)
read_all_sheets[read_sheet].to_excel(writer, sheet_name=read_sheet)
read_all_sheets['Series - Metadata'].to_excel(writer, sheet_name='Series - Metadata')
#raw_fin_data['Series - Metadata'].to_excel(writer, sheet_name='New Series - Metadata')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [228]:
# Let's pivot!
#copy_fin_data_long_format = fin_data_long_format.pivot(columns='code',values='value')
#copy_fin_data_long_format.head(30)

In [196]:
#let's separate the different indicators so we can focus on them better
grouped = fin_data_long_format.groupby(fin_data_long_format.code)
print(type(fin_data_long_format))
print(type(grouped))
#df_indicator = pd.Dat

In [196]:
aFrame(grouped.names + grouped.groups)
#df_indicator.head()
#population_total = grouped.get_group("SP.POP.TOTL") #("Population, total")
#population_total

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [223]:
'''for name, group in grouped:
    #print(name)
    #print(group.head(3), "\n", type(group))
    #print("\n")
    '''

'for name, group in grouped:\n    #print(name)\n    #print(group.head(3), "\n", type(group))\n    #print("\n")\n    '

In [222]:
df_indicator = pd.DataFrame(list(multi_dict.items()))
#df_indicator = pd.DataFrame(list(dict_indicator.values()))
type(df_indicator)
df_indicator.head()

,0,1
0,df_BM.TRF.PWKR.CD.DT,country code \ 20 ...
1,df_BX.KLT.DINV.CD.WD,country code \ 21 ...
2,df_BX.TRF.PWKR.DT.GD.ZS,country code \ 2...
3,df_CM.MKT.LCAP.GD.ZS,country code \ 12 ...
4,df_DT.DOD.DECT.CD,country code \ 17 ...

In [175]:
new_df = pd.DataFrame()

In [352]:
dict_indicator = {}
lst_indicator = []
for name, group in grouped:
    indicator_name = group.iloc[0]['indicator'] 
    #print(indicator_name)
    # we need to rename the column "value" to the relevant indicator name
    group.rename(columns={"value":indicator_name},inplace=True)
    group.drop(columns=['code','indicator'],inplace=True)
    lst_indicator.append(group)
    dict_indicator[name] = group #pd.DataFrame()

df_1 =lst_indicator[:]
print(df.shape)
#print(df_1)
#print(lst_indicator[0])
#df_indicator = pd.DataFrame(list(dict_indicator.values()))
#type(df_indicator)
#df_indicator

df = reduce(lambda df1,df2: pd.merge(df1,df2,on=['country','year']), lst_indicator[:])
#print(df)
#df.shape
#df.head(6)

(30, 36)

In [348]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(file_name, engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
fin_data_long_format.to_excel(writer, sheet_name='long format', index=False)
lst_indicator[0].to_excel(writer, sheet_name='refined long format', index=False)
df.to_excel(writer, sheet_name='df', index=False)
read_all_sheets[read_sheet].to_excel(writer, sheet_name=read_sheet)
read_all_sheets['Series - Metadata'].to_excel(writer, sheet_name='Series - Metadata')
#raw_fin_data['Series - Metadata'].to_excel(writer, sheet_name='New Series - Metadata')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [245]:
pd.concat(lst_indicator, axis=1, join='outer')
#pd.concat()

,country,code,indicator,year,value,country,code,indicator,year,value,...,country,code,indicator,year,value,country,code,indicator,year,value
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Vietnam,per_allsp.adq_pop_tot,Adequacy of social protection and labor progra...,2019 [YR2019],..,NaN,NaN,NaN,NaN,NaN
1017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Vietnam,per_allsp.cov_pop_tot,Coverage of social protection and labor progra...,2019 [YR2019],..
1018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [204]:
#dict_indicator["SP.POP.GROW"]
#df_indicator["SP.POP.TOTL"]
refined_df = pd.DataFrame([dict_indicator.k])
print(type(refined_df))
#refined_df.info()
print(refined_df.head())

AttributeError: 'dict' object has no attribute 'k'

In [121]:
for key in dict_indicator.keys():
    #print(dict_indicator[key])
    df_indicator[key] = pd.DataFrame(dict_indicator[key])
    
    #df_indicator[key] = df_indicator[:][df_indicator[key]] #.code == key]
    
    #for key in DataFrameDict.keys():
    #DataFrameDict[key] = df[:][df.company == key]

AttributeError: 'dict' object has no attribute 'head'